@page
@model DOTNETCORE.Pages.DemoModel
@{
    ViewData["Employee"] = "Bhavadeesh";
    ViewData["Company"] = "Wipro";
    ViewData["Location"] = "Hyderabad";

}
<p>Employee name is : <b> @ViewData["Employee"]</b></p>
<p>Company is : <b> @ViewData["Company"]</b></p>
<p>Location was : <b> @ViewData["Location"]</b></p>

