@page
@model DOTNETCORE.Pages.WiproPageModel
@{
    ViewData["Title"] = "This is my wipo Pre-Skilling Training.....!";
}
<h1>@ViewData["Title"]</h1>
<h2>My Training is going on </h2>

<p>Use this page to detail your site's privacy policy.</p>
